body {text-align: center;}
.App .btn-wrap {margin:30px 0;}
.movie-wrap:first-child {margin-top: 0;}
.movie-wrap {width: 400px; border: 1px solid #000; margin: 0 auto; margin-top: 20px; padding: 20px;}
.movie-title {display: inline-block; font-size: 16px;}
.movieList-wrap .btn-wrap button{margin: 4px;}
.btn-modify {background-color: aliceblue;}
.btn-remove {background-color: tomato;}
.image-wrap{width: 100px; height: 100px; margin-right: 20px;}
.image-wrap img{width: 100%; height: 100%;}
.text-wrap{display: inline-block; text-align: left; vertical-align: top;}
.image-wrap{display: inline-block;}
.btn-downloads {
  margin: 4px;
  text-decoration: none;
  color: #fff;
  background: #000;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}